/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.wbde-header {
	float: left;
	width: 100%;
	padding: 10px 0px;
}
.wbde-header .wbde-plugin-heading {
	float: left;
	margin: 0px;
}
.wbde-header .wbde-extra-actions {
	float: right;
	padding-bottom: 10px;
}
.wbde-selection-tags a{
	text-decoration: none;
}
#wbde-exclude-options{
	width: 100%;
}
.wbde-required-field{
	color: red;
}